table{
    color:darksalmon ;
    font-size: 10px;
}
 h2{
    font-size: 200px;
    color: darksalmon;
}

.home {
    font-size: 200px;
    color: darksalmon;
    } 
    

   .showName{
        font-size: 100px;
        color: darksalmon;   
    } 

