/* .main-page {
    font-size: 200px;
    color: darksalmon;
    } 
    
    .nav-link{
        font-size: 45px;
    }
    
    h1{
        font-size: 45px;
    }
    .showName{
        font-size: 100px;
        color: darksalmon;   
    } */



button{
    color: darksalmon;     
}

.user {
    cursor: pointer;
}

.showName {
    font-size: xx-large;
    text-align: center;
    color: darksalmon;
}